*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: rgba(255, 0, 0, 0.5);
}

.section-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-section-one{
    background-image: url(../assets/gsbg.JPG);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.content1pag{
    flex-direction: column;

}

.logo{
    size: 200px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.background-section-two{
    background-image: url(../assets/candles.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.content2pag{
    flex-direction: column;
}

.card-container{
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    max-width: 450px;
    display: grid;
}

input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 12px;
    background: black;
    color: white;
}

.product-area{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.produto{
    height:250px;
    width: 200px;
    border: 1px solid black;
    background-color: whitesmoke;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
}

.img-produto{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

form{
    display: grid;
}

.texto-cadastro{
    text-align: center;
    padding-bottom: 5px;
}

footer{
    
    height: 150px;
    padding: 25px;
    text-align: center;
    background-color: black;
    color: whitesmoke;
}